.mdl-layout__drawer {
  width: 350px;
}

.mdl-grid.center-items {
  flex-direction: column;
  align-items: center;
}


.map {
  height: 80%;
}

.mdl-textfield__input {
  color: !important;
  font-size: 20px;
}
