.mdl-layout__drawer {
  width: 350px;
}

.full-width {
  width: 100%
}

.mdl-grid.center-items {
  flex-direction: column;
  align-items: center;
}


.map {
  height: 80%;
}

.mdl-textfield__input {
  color: !important;
  font-size: 20px;
}

.lefty {
  text-align: left !important;
}

.timeseries {
  text-align: center !important;
}
